<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>20160416-zd0118-exp4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>nuc.sw.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>nuc.sw.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInfoAction</display-name>
    <servlet-name>ShowInfoAction</servlet-name>
    <servlet-class>nuc.sw.servlet.ShowInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInfoAction</servlet-name>
    <url-pattern>/ShowInfoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInfoServlet</display-name>
    <servlet-name>ShowInfoServlet</servlet-name>
    <servlet-class>nuc.sw.servlet.ShowInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInfoServlet</servlet-name>
    <url-pattern>/ShowInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllInfoServlet</display-name>
    <servlet-name>ShowAllInfoServlet</servlet-name>
    <servlet-class>nuc.sw.servlet.ShowAllInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllInfoServlet</servlet-name>
    <url-pattern>/ShowAllInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInfoServlet</display-name>
    <servlet-name>DeleteInfoServlet</servlet-name>
    <servlet-class>nuc.sw.servlet.DeleteInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInfoServlet</servlet-name>
    <url-pattern>/DeleteInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfoPageServlet</display-name>
    <servlet-name>UpdateInfoPageServlet</servlet-name>
    <servlet-class>nuc.sw.servlet.UpdateInfoPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfoPageServlet</servlet-name>
    <url-pattern>/UpdateInfoPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfoServlet</display-name>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>nuc.sw.servlet.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/UpdateInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>